{% load filters %}

<div class="row mb-3">
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>Precio de salida</strong></td>
                    <td>{{ producto.ask_display }}</td>
                </tr>
                {% if producto.bid %}
                    <tr>
                        <td><strong>Precio más alto</strong></td>
                        <td>{{ producto.bid_display }}</td>
                    </tr>
                {% endif  %}
                <tr>
                    <td><strong>Tiempo en subasta</strong></td>
                    <td>{{ producto.duracion_minima }} minuto(s)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mb-5 text-center">
    <div class="col-sm">
        <div class="jumbotron">
                {% if item_admite_ofertas %}
                    {% if evento.estado == 'EN CURSO' %}
                        <form method="post" novalidate="novalidate">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <div class="form-row justify-content-center">
                                <div class="col-auto">
                                    {{ form.bid | add_class:"form-control mb-2" }}
                                    {{ form.bid.errors }}
                                    <small class="form-text text-muted" style="text-align: left;">Realiza una oferta por {% if producto.bid %}{{ producto.next_bid_display }}{% else %}{{ producto.ask_display }}{% endif %} o más para participar.</small>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary mb-2">Realizar una oferta</button>
                                </div>
                            </div>
                        </form>
                    {% elif evento.estado == 'PENDIENTE' %}
                        <h3>Este evento aún no ha comenzado.</h3>
                    {% endif %}
                {% else %}
                    <h3>La subasta de este artículo ha finalizado.</h3>
                    <h3><a href="{% url 'public:productos:list' %}">Ver otros productos en venta.</a></h3>
                {% endif %}
        </div>
    </div>
</div>
