{% extends "layouts/public.html" %} 

{% block nav %}

{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid jumbotron-image" style="background-image: url({{ producto.imagen.url }});">
    <div class="container"></div>
  </div>

<div class="container mb-5" >
    <div class="row mb-5">
        <div class="col-sm">
            <h1>{{ producto.nombre }}</h1>
        </div>
    </div>
    {% include './commons_subasta.html' %}
    <div class="row">
        <div class="col-sm">
            <h5>Información de la moneda</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Título</strong></td>
                        <td>{{ producto.nombre }}</td>
                    </tr>
                    <tr>
                        <td><strong>Descripción</strong></td>
                        <td>{{ producto.divisa }}</td>
                    </tr>
                    <tr>
                        <td><strong>Denominación</strong></td>
                        <td>{{ producto.denominacion }}</td>
                    </tr>
                    <tr>
                        <td><strong>Forma</strong></td>
                        <td>{{ producto.get_forma_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Metal</strong></td>
                        <td>{{ producto.get_metal_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Canto</strong></td>
                        <td>{{ producto.get_canto_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Diámetro</strong></td>
                        <td>{{ producto.diametro }} mm</td>
                    </tr>
                    <tr>
                        <td><strong>Peso</strong></td>
                        <td>{{ producto.peso }} g</td>
                    </tr>
                    <tr>
                        <td><strong>Año de emisión</strong></td>
                        <td>{{ producto.anyo_emision }}</td>
                    </tr>
                    <tr>
                        <td><strong>Acuñación</strong></td>
                        <td>{{ producto.org_acunyacion }}</td>
                    </tr>
                    <tr>
                        <td><strong>País de acuñación</strong></td>
                        <td>{{ producto.pais_acunyacion }}</td>
                    </tr>
                    <tr>
                        <td><strong>Motivo</strong></td>
                        <td>{{ producto.motivo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Anverso</strong></td>
                        <td>{{ producto.anverso }}</td>
                    </tr>
                    <tr>
                        <td><strong>Reverso</strong></td>
                        <td>{{ producto.reverso }}</td>
                    </tr>
                    <tr>
                        <td><strong>Mintage</strong></td>
                        <td>{{ producto.total_mintage }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h5>Información del artista</h5>
            {% if artistas %}
                <table class="table">
                    <tbody>
                    {% for artista in artistas %}
                        {% if artista.artista.nombre_artistico %}
                            <tr>
                                <td><strong>Nombre artístico</strong></td>
                                <td>{{ artista.artista.nombre_artistico }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>Nombre real</strong></td>
                            <td>{{ artista.artista.apellido }}, {{ artista.artista.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No disponible.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}