{% extends "layouts/public.html" %} 

{% block nav %}

{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid jumbotron-image" style="background-image: url({{ producto.imagen.url }});">
    <div class="container"></div>
  </div>

<div class="container mb-5" >
    <div class="row mb-5">
        <div class="col-sm">
            <h1>{{ producto.nombre }}</h1>
        </div>
    </div>
    {% include './commons_subasta.html' %}
    <div class="row">
        <div class="col-sm">
            <h5>Información de la moneda</h5>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Título</strong></td>
                        <td>{{ producto.nombre }}</td>
                    </tr>
                    <tr>
                        <td><strong>Descripción</strong></td>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}