{% extends "layouts/public.html" %} 

{% block nav %}

{% endblock %}

{% block body %}
<div class="jumbotron jumbotron-fluid jumbotron-image" style="background-image: url({{ producto.imagen.url }});">
    <div class="container"></div>
  </div>

<div class="container mb-5" >
    <div class="row">
        <div class="col-sm">
            <h1>{{ producto.titulo }}</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            {% autoescape off %}{{ producto.descripcion|linebreaks }}{% endautoescape %}
        </div>
    </div>
    {% include './commons_subasta.html' %}
</div>
{% endblock %}