<nav class="sidebar active">
    <div class="sidebar-content">
        <a class="sidebar-brand" href="{% url 'staff:index' %}">Administración</a>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Registros</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staff:tiendas:list' %}"><i class="far fa-fw fa-store"></i> Tiendas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'staff:users:list' %}"><i class="far fa-fw fa-users"></i> Usuarios</a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Configuración</span>
        </h6>
    </div>
</nav>

{% block sidebar %}
{% endblock %}