<nav class="navbar navbar-expand bg-white">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown">
                    Usuario
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a href="/accounts/logout">Cerrar sesión</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
