{% extends "./base.html" %} 
{% load filters %}

{% block content %}
    {% block nav %}
    {% endblock %}
    {% if user and user.is_superuser %}
        <div class="alert alert-warning">
            <a href="{% url 'staff:index' %}">Ir al panel administrativo</a>
        </div>
    {% endif %}
    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-dark">Subastas</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="{% url 'public:productos:list' %}">Productos</a>
            </nav>
            <div class="btn-group mr-2">
                {% if user.is_authenticated %}
                    <a class="btn btn-link" href="/accounts/logout">Cerrar sesión</a>
                    {% if user.is_superuser %}
                        <a class="btn btn-outline-secondary" href="{% url 'staff:index' %}">Administración</a> 
                    {% elif user.is_admin %}
                        <a class="btn btn-outline-secondary" href="{% url 'tienda:index' %}">Panel de tienda</a> 
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'usuario:index' %}">Perfil de usuario</a> 
                    {% endif %}
                {% else %}
                    <a class="btn btn-outline-primary" href="/accounts/login">Identificarse</a>
                    <a class="btn btn-primary" href="/registro">Registarse</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main role="main">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.level_tag %}{{ message.level_tag }}{% endif %} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {% if 'safe' in message.extra_tags %}
                            {{ message|safe }}
                        {% else %}
                            {{ message }}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </main>
    <footer class="container mt-5">
        <p class="float-right"><a href="#">Ir arriba</a></p>
        <p>&copy; {% now "Y" %} Subastas Online &middot;
            <a href="{% url 'staff:index' %}">Administración</a>
            {% if not user.is_authenticated %}
                &middot; <a href="/registro">Registarse</a>
            {% endif %}
            {% block footer %}
            {% endblock %}
        </p>
    </footer>
{% endblock %}