{% extends "layouts/tienda.html" %} 

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Evento <small>Ver detalles</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary" href="{% url 'tienda:eventos:edit' organiza.pk %}">Editar</a>
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:eventos:list' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}


<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <h5>Información del evento</h5>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><strong>ID</strong></td>
                        <td>{{ organiza.evento.pk }}</td>
                    </tr>
                    <tr>
                        <td><strong>Estado</strong></td>
                        <td>{{ organiza.evento.estado }}</td>
                    </tr>
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td>{{ organiza.evento.nombre }}</td>
                    </tr>
                    <tr>
                        <td><strong>Fecha</strong></td>
                        <td>{{ organiza.evento.fecha }}</td>
                    </tr>
                    <tr>
                        <td><strong>Duración (horas)</strong></td>
                        <td>{{ organiza.evento.horas }}</td>
                    </tr>
                    <tr>
                        <td><strong>Tipo</strong></td>
                        <td>{{ organiza.evento.tipo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Costo inscripción cliente</strong></td>
                        <td>{{ organiza.evento.costo_ins_client_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Costo inscripción general</strong></td>
                        <td>{{ organiza.evento.costo_ins_general_display }}</td>
                    </tr>
                    <tr>
                        <td><strong>Lugar</strong></td>
                        <td>{{ organiza.evento.lugar_subasta|linebreaks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h5>Información de manejo y envío</h5>
            {% if costo_envio %}
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><strong>Costo extra</strong></td>
                            <td>{{ costo_envio.costo_extra }}</td>
                        </tr>
                        <tr>
                            <td><strong>% recargo de envío</strong></td>
                            <td>{{ costo_envio.recargo_envio }}</td>
                        </tr>
                        <tr>
                            <td><strong>% embalaje</strong></td>
                            <td>{{ costo_envio.embalaje }}</td>
                        </tr>
                        <tr>
                            <td><strong>% seguro</strong></td>
                            <td>{{ costo_envio.seguro }}</td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>No disponible.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}