{% extends "layouts/tienda.html" %} 
{% load mathfilters %}

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Eventos <small>Listado de artículos</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary" href="{% url 'tienda:eventos:list' %}">Volver</a>
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:eventos:event_add_item' organiza_id %}">Añadir nuevo</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<div class="alert alert-info" role="alert">
    Algunos valores de los artículos mostrados, solo pueden ser modificados por sus propietarios.
</div>

<form method="post" novalidate="novalidate">
    {% csrf_token %}

    <table id="catalogo_moneda" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>NUR</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>% min. ganancia</th>
                <th>ASK</th>
                <th>Orden</th>
                <th>Duración (minutos)</th>
                <th>Tipo&nbsp;de&nbsp;puja</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>
                        <input name="objeto_subasta_evento[]" type="hidden" value="{{ item.pk }}" />
                        <input name="catalogo_moneda[]" type="hidden" value="{{ item.pk }}" />
                        <input name="evento[]" type="hidden" value="{{ item.evento.pk }}" />
                        {% if item.moneda.imagen_thumb %}<img src="{{ item.moneda.imagen_thumb.url }}" alt="{{ item.moneda.titulo }}" width="100" />{% endif %}
                        {% if item.pintura.imagen_thumb %}<img src="{{ item.pintura.imagen_thumb.url }}" alt="{{ item.pintura.titulo }}" width="100" />{% endif %}
                    </td>
                    <td>
                        {{ item.moneda.pk }}
                        {{ item.pintura.pk }}
                    </td>
                    <td>{% if item.moneda_id %}Moneda{% else %}Pintura{% endif %}</td>
                    <td>
                        {% if item.tienda.pk == user.contacto.tienda.pk %}
                            <input name="precio[]" class="form-control" type="number" min="0" value="{{ item.precio }}" />
                        {% else %}
                            <input name="precio[]" type="hidden" value="{{ item.precio }}" />
                            {{ item.precio_display }}
                        {% endif %}
                    </td>
                    <td>
                        {% if item.tienda.pk == user.contacto.tienda.pk %}
                            <input name="porc_min_ganancia[]" class="form-control" type="number" min="0" value="{{ item.porc_min_ganancia }}" />
                        {% else %}
                            <input name="porc_min_ganancia[]" type="hidden" value="{{ item.porc_min_ganancia }}" />
                            {{ item.porc_min_ganancia }}
                        {% endif %}
                    </td>
                    <td>
                        {{ item.ask_display }}
                    </td>
                    <td>
                        <input name="orden[]" class="form-control" type="number" min="0" value="{{ item.orden }}" />
                    </td>
                    <td>
                        <input name="duracion_minima[]" class="form-control" type="number" min="0" max="{{ item.evento.horas|mul:60 }}" value="{{ item.duracion_minima }}" />
                    </td>
                    <td>
                        {% if item.evento.tipo == 'PRESENCIAL' %}
                            <select class="form-control" name="tipo_puja[]">
                                <option value="DINAMICA" {% if item.tipo_puja == 'DINAMICA' %}selected="selected"{% endif %}>Dinámica</option>
                                <option value="SOBRE_CERRADO" {% if item.tipo_puja == 'SOBRE_CERRADO' %}selected="selected"{% endif %}>Sobre cerrado</option>
                            </select>
                        {% else %}
                            <input name="tipo_puja[]" type="hidden" value="DINAMICA" />
                            Dinámica
                        {% endif %}
                    </td>
                    <td>
                        <ul class="list-inline">
                            {% if item.tienda.pk == user.contacto.tienda.pk %}
                                <li class="list-inline-item"><a class="text-danger" href="{% url 'tienda:eventos:event_remove_item' organiza_id item.pk %}" onclick="if (confirm('\u00bfDesea eliminar este elemento?')) { return true; } return false;">Borrar</a></li>
                            {% else %}
                                <li class="list-inline-item text-muted">Borrar</li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>

{% endblock %}