{% extends "layouts/tienda.html" %} 
{% load filters %}

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Evento <small>Editar registro</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:eventos:list' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<form method="post" enctype="multipart/form-data" novalidate="novalidate">
    {% csrf_token %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group row">
                    {{ form.nombre | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ form.nombre | add_class:"form-control" }}
                        {{ form.nombre.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.fecha | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            {{ form.fecha | add_class:"form-control" }}
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-fw fa-calendar-alt"></i></div>
                            </div>
                        </div>
                        {{ form.fecha.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.horas | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-2">
                        {{ form.horas | add_class:"form-control" }}
                        {{ form.horas.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.tipo | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ form.tipo | add_class:"form-control" }}
                        {{ form.tipo.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.costo_ins_client | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-3">
                        {{ form.costo_ins_client | add_class:"form-control" }}
                        {{ form.costo_ins_client.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.costo_ins_general | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-3">
                        {{ form.costo_ins_general | add_class:"form-control" }}
                        {{ form.costo_ins_general.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.lugar_subasta | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm">
                        {{ form.lugar_subasta | add_class:"form-control" }}
                        {{ form.lugar_subasta.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.imagen | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ form.imagen | add_class:"form-control" }}
                        {{ form.imagen.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-5">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group row">
                    {{ costo_envio_form.costo_extra | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ costo_envio_form.costo_extra | add_class:"form-control" }}
                        {{ costo_envio_form.costo_extra.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ costo_envio_form.recargo_envio | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ costo_envio_form.recargo_envio | add_class:"form-control" }}
                        {{ costo_envio_form.recargo_envio.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ costo_envio_form.embalaje | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ costo_envio_form.embalaje | add_class:"form-control" }}
                        {{ costo_envio_form.embalaje.errors }}
                    </div>
                </div>
                <div class="form-group row">
                    {{ costo_envio_form.seguro | label_class:"col-form-label col-sm-2" }}
                    <div class="col-sm-5">
                        {{ costo_envio_form.seguro | add_class:"form-control" }}
                        {{ costo_envio_form.seguro.errors }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}