
{% extends "layouts/tienda.html" %} 

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">{{ pintura.titulo }} <small>{{ pintura.titulo_original }}</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary" href="{% url 'tienda:productos:pintura_edit' pintura.nur %}">Editar</a>
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:productos:pinturas' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <h5>Información de la pintura</h5>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><strong>NUR</strong></td>
                        <td>{{ pintura.nur }}</td>
                    </tr>
                    <tr>
                        <td><strong>Título</strong></td>
                        <td>{{ pintura.titulo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Título original</strong></td>
                        <td>{{ pintura.titulo_original }}</td>
                    </tr>
                    <tr>
                        <td><strong>Estilo</strong></td>
                        <td>{{ pintura.estilo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Año</strong></td>
                        <td>{{ pintura.anyo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Dimensiones</strong></td>
                        <td>{{ pintura.dimensiones }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h5>Información del artista</h5>
            {% if artistas %}
                <table class="table table-hover">
                    <tbody>
                    {% for artista in artistas %}
                        {% if artista.artista.nombre_artistico %}
                            <tr>
                                <td><strong>Nombre artístico</strong></td>
                                <td>{{ artista.artista.nombre_artistico }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td><strong>Nombre real</strong></td>
                            <td>{{ artista.artista.apellido }}, {{ artista.artista.nombre }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No disponible.</p>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}