{% extends "layouts/public.html" %} 

{% block nav %}

{% endblock %}

{% block body %}

<div class="container">
    <h1 style="display: inline-block">{{ evento.nombre }} {% if not evento.cancelado %}<span class="badge badge-info badge-headed">{{ evento.estado }}</span>{% endif %}</h1>
    <h3>{{ evento.fecha }}</h3>
    <div class="row mt-5">
        <div class="col-sm">
            <h5>Detalles del evento</h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><strong>Tipo de evento</strong></td>
                        <td>{{ evento.get_tipo_display }}</td>
                    </tr>
                    {% if evento.tipo == 'VIRTUAL' %}
                        <tr>
                            <td><strong>Alcance</strong></td>
                            <td>
                                {% if tiendas %}
                                    {% if tiendas|length > 1 %}
                                        Según organizador
                                    {% else %}
                                        {% if tienda.tienda.alcance == 'LOCAL' %}
                                            {{ tienda.tienda.pais }}
                                        {% else %}
                                            {{ tienda.tienda.get_alcance_display }}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><strong>Dirección</strong></td>
                            <td>{{ evento.lugar_subasta|linebreaksbr }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td><strong>Duración</strong></td>
                        <td>{{ evento.horas }} horas</td>
                    </tr>
                    {% if user.is_authenticated %}
                        <tr>
                            <td><strong>Costo de inscripción</strong></td>
                            <td>
                                {% if cliente %}
                                    {{ evento.costo_ins_client_display }}
                                {% else %}
                                    {{ evento.costo_ins_general_display }}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td><strong>Costo público general</strong></td>
                            <td>{{ evento.costo_ins_general_display }}</td>
                        </tr>
                        <tr>
                            <td><strong>Costo clientes</strong></td>
                            <td>{{ evento.costo_ins_client_display }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h5>Organizadores</h5>
            {% if tiendas %}
                <table class="table table-borderless">
                    <tbody>
                        {% for tienda in tiendas %}
                            <tr>
                                <td>
                                    <a href="{% url 'public:organizadores:detail' tienda.tienda.pk %}">{{ tienda.tienda.nombre }}</a> - <span class="text-muted">{{ tienda.tienda.pais }}</span>
                                    <i>{{ tienda.tienda.proposito|linebreaks|truncatechars:192 }}</i>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No disponible.</p>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-sm">
            <div class="jumbotron">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg">Confirmar inscripción</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}