
{% extends "layouts/tienda.html" %} 

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">{{ producto.titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary" href="{% url 'tienda:productos:edit' producto.pk %}">Editar</a>
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:productos:list' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm">
            <h5>Información del producto</h5>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td><strong>Título</strong></td>
                        <td>{{ producto.titulo }}</td>
                    </tr>
                    <tr>
                        <td><strong>Descripción</strong></td>
                        <td>{{ producto.descripcion }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}