
{% extends "layouts/tienda.html" %} 
{% load filters %}

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Moneda <small>Editar registro</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:articulos:monedas' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="propiedades-tab" data-toggle="tab" href="#propiedades" role="tab" aria-controls="propiedades" aria-selected="true"><i class="far fa-fw fa-file-alt"></i> Propiedades</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="artistas-tab" data-toggle="tab" href="#artistas" role="tab" aria-controls="artistas" aria-selected="false"><i class="far fa-fw fa-palette"></i> Artistas</a>
    </li>
</ul>

<div class="tab-content d-flex flex-column flex-grow-1" id="myTabContent">
    <div class="tab-pane fade show active flex-column flex-grow-1" id="propiedades" role="tabpanel" aria-labelledby="propiedades-tab">

        <form class="container" method="post" enctype="multipart/form-data" novalidate="novalidate">
            {% csrf_token %}
            <div class="form-group row">
                {{ form.nombre | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.nombre | add_class:"form-control" }}
                    {{ form.nombre.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.divisa | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.divisa | add_class:"form-control" }}
                    {{ form.divisa.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.denominacion | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-2">
                    {{ form.denominacion | add_class:"form-control" }}
                    {{ form.denominacion.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.forma | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.forma | add_class:"form-control" }}
                    {{ form.forma.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.metal | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.metal | add_class:"form-control" }}
                    {{ form.metal.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.canto | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.canto | add_class:"form-control" }}
                    {{ form.canto.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.diametro | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-2">
                    {{ form.diametro | add_class:"form-control" }}
                    {{ form.diametro.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.peso | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-2">
                    {{ form.peso | add_class:"form-control" }}
                    {{ form.peso.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.anyo_emision | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-2">
                    {{ form.anyo_emision | add_class:"form-control" }}
                    {{ form.anyo_emision.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.org_acunyacion | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-10">
                    {{ form.org_acunyacion | add_class:"form-control" }}
                    {{ form.org_acunyacion.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.pais_acunyacion | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.pais_acunyacion | add_class:"form-control" }}
                    {{ form.pais_acunyacion.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.motivo | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-10">
                    {{ form.motivo | add_class:"form-control" }}
                    {{ form.motivo.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.anverso | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-10">
                    {{ form.anverso | add_class:"form-control" }}
                    {{ form.anverso.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.reverso | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-10">
                    {{ form.reverso | add_class:"form-control" }}
                    {{ form.reverso.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.total_mintage | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-2">
                    {{ form.total_mintage | add_class:"form-control" }}
                    {{ form.total_mintage.errors }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.imagen | label_class:"col-form-label col-sm-2" }}
                <div class="col-sm-5">
                    {{ form.imagen | add_class:"form-control" }}
                    {{ form.imagen.errors }}
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>

    </div>
    <div class="tab-pane fade flex-column flex-grow-1" id="artistas" role="tabpanel" aria-labelledby="artistas-tab">
        
        <form method="post" novalidate="novalidate">
            <input type="hidden" name="artists" value="artists" />
            {% csrf_token %}

            <table id="artistas_table" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre artístico</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artista in data %}
                        <tr>
                            <td><input name="artista_id[]" type="checkbox" {% if artista.presente %}checked="checked"{% endif %} value="{{ artista.id }}" /></td>
                            <td>{{ artista.nombre_artistico }}</td>
                            <td>{{ artista.nombre }} {{ artista.apellido }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}