{% extends "layouts/tienda.html" %} 

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Monedas</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary" href="{% url 'tienda:articulos:moneda_new' %}">Agregar nuevo</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<table id="monedas" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>NUR</th>
            <th>Nombre</th>
            <th>Divisa</th>
            <th>Denominación</th>
            <th>Forma</th>
            <th>Metal</th>
            <th>Canto</th>
            <th>Mintage</th>
            <th>País de acuñación</th>
            <th>Últ. Modificación</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for elem in data %}
            <tr>
                <td>{% if elem.imagen_thumb %}<img src="{{ elem.imagen_thumb.url }}" alt="{{ elem.divisa }}" width="100" />{% endif %}</td>
                <td>{{ elem.nur }}</td>
                <td>{{ elem.divisa }}</td>
                <td>{{ elem.nombre }}</td>
                <td>{{ elem.denominacion }}</td>
                <td>{{ elem.get_forma_display }}</td>
                <td>{{ elem.get_metal_display }}</td>
                <td>{{ elem.get_canto_display }}</td>
                <td>{{ elem.total_mintage }}</td>
                <td>{{ elem.pais_acunyacion }}</td>
                <td>{{ elem.modified }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="{% url 'tienda:articulos:moneda_detail' elem.nur %}">Ver</a></li>
                        <li class="list-inline-item"><a href="{% url 'tienda:articulos:moneda_edit' elem.nur %}">Editar</a></li>
                        <li class="list-inline-item"><a class="text-danger" href="{% url 'tienda:articulos:moneda_delete' elem.nur %}" onclick="if (confirm('\u00bfDesea eliminar el registro?')) { return true; } return false;">Borrar</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}