{% extends "layouts/tienda.html" %} 
{% load mathfilters %}

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Eventos <small>Añadir artículos</small></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="float-right btn btn-sm btn-outline-primary mr-1" href="{% url 'tienda:eventos:list' %}">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block subcontent %}

<form method="post" novalidate="novalidate">
    {{ formset.management_form }}
    {% csrf_token %}

    <table id="catalogo_moneda" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>NUR</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>% min. ganancia</th>
                <th>Duración (minutos)</th>
                <th>Tipo&nbsp;de&nbsp;puja</th>
            </tr>
        </thead>
        <tbody>
            {% for item in catalogos %}
                <tr>
                    <td>
                        <input name="catalogo_moneda[]" class="toggle_activate_row" type="checkbox" value="true" />
                        <input name="moneda[]" type="hidden" disabled="disabled" value="{% if item.tipo == 'MONEDA' %}{{ item.pk }}{% endif %}" />
                        <input name="pintura[]" type="hidden" disabled="disabled" value="{% if item.tipo == 'PINTURA' %}{{ item.pk }}{% endif %}" />
                        <input name="evento[]" type="hidden" disabled="disabled" value="{{ evento.pk }}" />
                        <input name="orden[]" type="hidden" disabled="disabled" value="{{ forloop.counter }}" />
                    </td>
                    <td>
                        {% if item.imagen_thumb %}<img src="{{ item.imagen_thumb.url }}" alt="{{ item.titulo }}" width="100" />{% endif %}
                    </td>
                    <td>{{ item.nur }}</td>
                    <td>{% if item.tipo == 'MONEDA' %}Moneda{% else %}Pintura{% endif %}</td>
                    <td>
                        <input disabled="disabled" name="precio[]" class="form-control" type="number" min="0" />
                    </td>
                    <td>
                        <input disabled="disabled" name="porc_min_ganancia[]" class="form-control" type="number" min="0" />
                    </td>
                    <td>
                        <input disabled="disabled" name="duracion_minima[]" class="form-control" type="number" min="0" max="{{ evento.horas|mul:60 }}" value="{{ evento.horas|mul:60 }}" />
                    </td>
                    <td>
                        {% if evento.tipo == 'PRESENCIAL' %}
                            <select disabled="disabled" class="form-control" name="tipo_puja[]">
                                <option value="DINAMICA" {% if item.tipo_puja == 'DINAMICA' %}selected="selected"{% endif %}>Dinámica</option>
                                <option value="SOBRE_CERRADO" {% if item.tipo_puja == 'SOBRE_CERRADO' %}selected="selected"{% endif %}>Sobre cerrado</option>
                            </select>
                        {% else %}
                            <input disabled="disabled" name="tipo_puja[]" type="hidden" value="DINAMICA" />
                            Dinámica
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Añadir seleccionados</button>
    </div>
</form>

{% endblock %}