
{% extends "layouts/usuario.html" %} 
{% load filters %}

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Perfil</h1>
    </div>
{% endblock %}

{% block subcontent %}

<form class="container" method="post" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-group row">
        {{ form.nombre | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.nombre | add_class:"form-control" }}
            {{ form.nombre.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.segundo_nombre | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.segundo_nombre | add_class:"form-control" }}
            {{ form.segundo_nombre.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.apellido | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.apellido | add_class:"form-control" }}
            {{ form.apellido.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.segundo_apellido | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.segundo_apellido | add_class:"form-control" }}
            {{ form.segundo_apellido.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.fecha_nac | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.fecha_nac | add_class:"form-control" }}
            {{ form.fecha_nac.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.nacionalidad | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.nacionalidad | add_class:"form-control" }}
            {{ form.nacionalidad.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.vive | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.vive | add_class:"form-control" }}
            {{ form.vive.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.email | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.email | add_class:"form-control" }}
            {{ form.email.errors }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.telefono | label_class:"col-form-label col-sm-2" }}
        <div class="col-sm-5">
            {{ form.telefono | add_class:"form-control" }}
            {{ form.telefono.errors }}
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>

{% endblock %}