{% extends "layouts/usuario.html" %} 

{% block subnav %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h3">Productos</h1>
    </div>
{% endblock %}

{% block subcontent %}

<div class="tab-content pt-5" id="myTabContent">
    <div class="tab-pane fade active show" id="productos" role="tabpanel" aria-labelledby="eventos-tab">
        <table id="productos_data" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Título</th>
                    <th>Precio de salida</th>
                    <th>Precio de compra</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for elem in productos %}
                    <tr>
                        <td>{% if elem.imagen_thumb %}<img src="{{ elem.imagen_thumb.url }}" alt="" width="100" />{% endif %}</td>
                        <td>{{ elem.titulo }}</td>
                        <td>{{ elem.ask_display }}</td>
                        <td>{{ elem.bid_display }}</td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="{% url 'usuario:productos:detail' elem.pk %}"><i class="far fa-file-certificate"></i> Certificado</a></li>
                                <li class="list-inline-item"><a target="_blank" href="{% url 'public:productos:detail' elem.pk %}">Ver ficha <i class="far fa-fw fa-external-link-alt"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pinturas" role="tabpanel" aria-labelledby="eventos-tab">
        <table id="pinturas_data" class="table table-striped table-bordered dataTable no-footer" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Precio de salida</th>
                    <th>Precio de compra</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for elem in pinturas %}
                    <tr>
                        <td>{% if elem.imagen_thumb %}<img src="{{ elem.imagen_thumb.url }}" alt="" width="100" />{% endif %}</td>
                        <td>{{ elem.nombre }}</td>
                        <td>{{ elem.ask_display }}</td>
                        <td>{{ elem.bid_display }}</td>
                        <td>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="{% url 'usuario:productos:detail' elem.pk %}"><i class="far fa-file-certificate"></i> Certificado</a></li>
                                <li class="list-inline-item"><a target="_blank" href="{% url 'public:productos:detail' 'pintura' elem.nur %}">Ver ficha <i class="far fa-fw fa-external-link-alt"></i></a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}